.section_1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    h1, h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 0.4rem;
        color: var(--white);
        white-space: nowrap;
    }

    /* Блок заголовка */
    > article:nth-of-type(1) {
        grid-area: 1 / 1 / 3 / 5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 1rem;        
        padding: 1rem;
        padding-right: 0;
        position: relative;

        > h1 {
            z-index: 1;
            padding-left: 1rem;
        }
       
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 1rem;
            width: 53%;
            height: calc(100% + 2rem);
            background-image: var(--orange-gradient);
            opacity: 0.6;
        }

        &::after {
            content: '';
            position: absolute;
            top: -1rem;
            left: 25%;
            width: 50%;
            height: 45%;
            background-image: url('../img/decor-point-g.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top left;
        }

        @media (max-width: 900px) {
            grid-area: 1 / 1 / 5 / 5;
            align-items: flex-start;

            > div {
                flex-grow: 1;    
                > div {
                    flex-direction: column;
                }
            }

            &::before {
                top: 0;
                width: 9.2rem;
                height: calc(100% + 2rem);
            }

            &::after {
                top: auto;
                bottom: -0.6rem;
                left: 10%;
                width: 68%;
                height: 40%;
                background-position: bottom left;                
            }
        }

        @media (max-width: 767px) {
            grid-area: 1 / 1 / 2 / 13;
            padding: 0;

            > h1 {
                padding-bottom: 1rem;
            }

            > div {
                flex-grow: 0; 
                align-self: flex-end;                   
                > div {
                    flex-direction: row;
                }
            }

            &::before {
                display: none;
            }

            &::after {
                display: none;               
            }
        }

        @media (max-width: 575px) {
            > div {
                align-self: center;                  
            }
        }

        @media (max-width: 479px) {
            > div {
                align-self: flex-start;                  
            }
        }
    }

    /* Блок описания команды */
    > article:nth-of-type(2) {
        grid-area: 1 / 5 / 7 / 11;
        padding: 1rem;

        > p {
            color: var(--white-text-soft);
            font-size: 1.3rem;
            line-height: 1.4;
            text-align: left;

            @media (max-width: 1024px) {
                font-size: 1.1rem;
                line-height: 1.2;
            }

            @media (max-width: 900px) {
                font-size: 1.3rem;
                line-height: 1.4;
                margin-top: 2rem;
            }

            @media (max-width: 832px) {
                font-size: 1.2rem;
                line-height: 1.3;
                margin-top: 1rem;
            }

            @media (max-width: 767px) {
                font-size: 1.3rem;
                line-height: 1.4;
                margin-top: 0;
            }

            @media (max-width: 575px) {
                font-size: 1.2rem;
                line-height: 1.3;
            }

            @media (max-width: 479px) {
                font-size: 1.1rem;
                line-height: 1.2;
            }
        }

        @media (max-width: 900px) {
            grid-area: 1 / 5 / 8 / 13;
        }

        @media (max-width: 767px) {
            grid-area: 5 / 1 / 10 / 13;
        }
    }
    
    /* Фото в работе */
    > article:nth-of-type(4) {
        grid-area: 3 / 1 / 9 / 5;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 900px) {
            grid-area: 5 / 1 / 10 / 5;
        }

        @media (max-width: 767px) {
            grid-area: 2 / 1 / 5 / 6;
        }

        @media (max-width: 575px) {
            grid-area: 2 / 1 / 5 / 7;
        }

        @media (max-width: 479px) {
            grid-area: 2 / 1 / 4 / 13;
            margin-top: 0.6rem;
            position: relative;

            > img {
                width: 60%;
                aspect-ratio: 1 / 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: -1rem;
                right: 0;
                width: 45%;
                height: 45%;
                background-image: var(--orange-gradient);
                opacity: 0.6;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 20%;
                right: 20%;
                width: 20%;
                height: 80%;
                background-image: url('../img/decor-point-v.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top right;
            }
        }
        
    }

    /* Фото команды */
    > article:nth-of-type(5) {
        grid-area: 7 / 9 / 13 / 13;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 900px) {
            grid-area: 8 / 9 / 13 / 13;
        }

        @media (max-width: 767px) {
            grid-area: 10 / 8 / 13 / 13;
        }

        @media (max-width: 575px) {
            grid-area: 10 / 1 / 11 / 13;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            position: relative;

            > img {
                width: 60%;
                aspect-ratio: 1 / 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: -1rem;
                left: 0;
                width: 45%;
                height: 45%;
                background-image: var(--orange-gradient);
                opacity: 0.6;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 20%;
                left: 20%;
                width: 20%;
                height: 80%;
                background-image: url('../img/decor-point-v.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top left;
            }
        }
        
    }

    /* Блок слогана */
    > article:nth-of-type(6) {
        grid-area: 9 / 1 / 13 / 5;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        row-gap: 0.6rem;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.05);
       
        > h1 {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: 800;

            @media (max-width: 900px) {
                margin-bottom: 0.2rem;
                font-size: 1.6rem;
            }

            @media (max-width: 767px) {
                font-size: 1.8rem;
            }

            @media (max-width: 575px) {
                font-size: 1.6rem;
            }

        }

        > h2 {
            font-size: 1.2rem;
            font-weight: 400;

            @media (max-width: 900px) {
                font-size: 1.1rem;
            }

            @media (max-width: 767px) {
                font-size: 1.2rem;
            }

            @media (max-width: 575px) {
                font-size: 1.1rem;
            }

            @media (max-width: 479px) {
                color: var(--orange);
            }
        }
        > h2:nth-of-type(2) {align-self: center;}
        > h2:nth-of-type(3) {align-self: flex-end;}

        @media (max-width: 900px) {
            grid-area: 10 / 1 / 13 / 5;
            padding-left: 0.4rem;
        }

        @media (max-width: 767px) {
            grid-area: 4 / 6 / 5 / 13;
            padding: 1rem;
            background: none;
        }

        @media (max-width: 575px) {
            grid-area: 4 / 7 / 5 / 13;
            padding: 0.5rem;
        }

        @media (max-width: 479px) {
            grid-area: 4 / 1 / 5 / 13;
            padding: 0;
            margin-top: 0.6rem;
        }
    }

    /* Блок с контактами */
    > article:nth-of-type(3) {
        grid-area: 8 / 5 / 13 / 9;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        padding: 1rem;
        background-image: var(--orange-gradient-revers);
        position: relative;

        > h1 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        > p {
            position: absolute;
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 1.4rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 0.5rem;
            color: var(--orange);

            > span {
                flex-grow: 1;
                align-self: flex-end;
                border-bottom: 2px solid var(--orange);
            }
        }

        @media (max-width: 900px) {
            grid-area: 9 / 5 / 13 / 9;
        }

        @media (max-width: 767px) {
            grid-area: 11 / 1 / 13 / 8;
            padding-top: 10%;
            padding-bottom: 10%;
            margin-top: 2rem;
        }

        @media (max-width: 575px) {
            grid-area: 11 / 1 / 13 / 13;
            margin-top: 2.3rem;
        }
    }

    /* Декор-блок */
    > div {
        grid-area: 1 / 11 / 7 / 13;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: var(--orange-gradient);
            opacity: 0.6;
        }

        &::after {
            content: '';
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            height: 60%;
            background-image: url('../img/decor-point-v.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top center;
        }

        @media (max-width: 900px) {
            display: none;
        }

        @media (max-width: 767px) {
            display: block;
            grid-area: 2 / 6 / 4 / 13;

            &::before {
                top: -1rem;
                left: -1rem;
                width: calc(50% + 1rem);
                height: calc(100% + 1rem);
            }

            &::after {
                top: 24%;
                left: 30%;
                width: 70%;
                height: 90%;
                background-image: url('../img/decor-point-g.svg');
                background-position: top left;
            }
        }

        @media (max-width: 479px) {
            display: none;
        }
    }

    
    @media (max-width: 767px) {
        grid-template-rows: repeat(12, auto);
    }

}